In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

In [2]:
music_data = pd.read_csv('music.csv')

In [3]:
music_data.head()

   age  gender   genre
0   20       1  HipHop
1   23       1  HipHop
2   25       1  HipHop
3   26       1    Jazz
4   29       1    Jazz

In [4]:
result = music_data['genre']